/* CSS Variables */
:root {
    --primary: #7D7F80;
    --sidebar: #2D283E;
    --regtext: #564F64;
    --htext: #d1d7e0;
    --saveme: #2D3032;
    --savemetoo: #D2D3D3;
    --savemethree: #d1d7e0;
}

body {
    background-color: var(--primary);
    margin: 0px;
    padding: 0px;
    border: 0px;
    font-family: Arial, Helvetica, sans-serif;
    color: var(--regtext);
}

/* .main-container { 
    display: grid;
    grid-gap: 20px;
    grid-template-columns: 2fr 10fr;
}*/

/*Global Elements*/
ul {
    list-style-type: none;
    margin: auto;
    padding: 0;
}


h1 {
    color: var(--htext);
    font-size: 2rem;
    margin: 10px 0px 10px 0px;
    font-weight: bolder;
}

h2 {
    margin: 0px;
    padding: 0px;
    font-size: 1.5rem;
    color: var(--htext);
    text-transform: uppercase;
    font-weight: bold;
}

h3 {
    font-size: 1.2rem;
    text-transform: uppercase;
    margin: 0px;
    padding: 0px;
}

h4 {
    color: var(--htext);
    width: 60%;
    float: center;
    margin: 20px auto 10px auto;
}

/*Sidebar Elements*/
.sidebar {
    background: var(--sidebar);
    width: 300px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: fixed;
}

#sbwrapper {
    width: 100%;
    height: 90%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    text-align: center;
}

#portrait {
    background: url('../img/portrait.png') no-repeat center;
    background-size: contain;
    min-width: 150px;
    min-height: 150px;
    margin: 30px auto;

}

#intro {
    width: 70%;
    margin: auto;
}

.socialIcons {
    width: 150px;
    height:50px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-content: center;
    margin: 20px auto;
}

#linkedIn {
    background-size: contain;
    width: 15%;
    height: auto;
    margin: auto
}

#stackOverflow {
    background-size: contain;
    width: 15%;
    height: auto;
    margin: auto
}

#gitHub {
    background-size: contain;
    width: 15%;
    height: auto;
    margin: auto 
}

#nav {
}

#nav button {
    text-decoration: none;
    background-color: var(--sidebar);
    border: 2px var(--sidebar) solid;
    border-radius: 2px;
    color: var(--regtext);
    font-size: 1rem;
    line-height: 1.4rem;
}

#nav button:hover {
    font-size: 1.2rem;
}

#contactForm {
    /* display: none;*/
}

.fe {
    background-color: var(--sidebar);
    color: var(--regtext);
    margin: 5px;
    border:2px solid var(--htext);
    border-radius: 5px;
    padding: 5px;
    width: 80%;
}

.textarea {
    resize: none;
    overflow: auto;
    height: 150px;
}

#submit {
    margin: 10px auto 30px auto;
    padding: 5px 10px 5px 10px;
    background-color: var(--sidebar);
    border:2px solid var(--htext);
    border-radius: 5px;
    color: var(--regtext);
    
}


/*Main Section Elements*/
.wrapper {
    width: 100vw;
    display: grid;
    grid-template-columns: 300px auto;
    grid-gap: 0px; 
      
}

.main {
    grid-column-start: 2;
    width: 85%;
    margin: 50px auto 0px auto;
    display: grid;
    grid-gap: 20px;
    /* grid-template-areas: 'box-1 box-1 box-2 box-2 box-2''box-3 box-3 box-3 box-3 box-3'; */
    grid-template-areas: 'box-1' 'box-2';
}

.box-1 {
    grid-area: box-1;
}

.box-2 {
    grid-area: box-2;
    min-width: 300px;
}

/* #charlie { */
    height: 300px;
    width: 100%;
    background: url(../img/Charlie.jpg) no-repeat center;
    background-size: cover;
    margin: auto;
}

.box-3 {
    grid-area: box-3;
    margin-top: 50px;
}

.skills {
    grid-column-start: 2;
    width: 85%;
    margin: 50px auto;
    display: grid;
    grid-gap: 50px;
    grid-template-columns: repeat(3, 1fr);
}

.skillbox {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    text-align: center;
    align-content: center;
    font-size: 1rem;
    min-width: 150px;
    min-height: 150px;
    margin: 0px auto;

}

#sbtext {
    padding: 50px;
}

#sb1 {
    background: url(../img/Skills1.png) no-repeat center;
    background-size: contain;
    box-sizing: border-box;       
}

#sb2 {
    background: url(../img/Skills2.png) no-repeat center;
    background-size: contain;       
}

#sb3 {
    background: url(../img/Skills3.png) no-repeat center;
    background-size: contain;         
}

#sb4 {
    background: url(../img/Skills4.png) no-repeat center;
    background-size: contain;         
}

#sb5 {
    background: url(../img/Skills4.png) no-repeat center;
    background-size: contain;         
}

#sb6 {
    background: url(../img/Skills4.png) no-repeat center;
    background-size: contain;       
}


/*Footer Elements*/
.footer {
    display: flex;
    flex-direction: column;
    justify-self: flex-end;

}

#copyright {
    width: 250;
    height: 50;
    margin-bottom: 50px;
    text-align: center;
}

/* Media Queries */
@media(min-width: 2000px) {
    .sidebar {
        width: 15vw;
    }

    .wrapper {
        grid-template-columns: 15vw auto;
                  
    }
}

@media(max-width: 1100px) {
    .skills {
        grid-template-columns: repeat(2, 1fr);
    }
    
    .main {
        grid-template-areas: 'box-1 box-1' 'box-2 box-2''box-3 box-3';
    }
}

@media(max-width: 750px) {
    .skills {
        grid-template-columns: repeat(1, 1fr);
    }
    
    .main {
        grid-template-areas: 'box-1' 'box-2''box-3';
    }
}

@media(max-width: 650px) {
    .sidebar {
        grid-column-start: 2;
        width: 100vw;
        margin: 0px auto 0px;
        position: relative;
    }

    .wrapper {
        width: 100vw;
        display: grid;
        grid-template-columns: auto 0px;
        grid-gap: 0px; 
          
    }

    .main {
        grid-column-start: 1;
    }

    .skills {
        grid-column-start: 1;       
    }
}

@media (max-height: 1000px) {
    .sidebar {
        height: 1000px
    }
}

@media (min-height: 1200px) {
    .sidebar {
        height: 100vh
    }
    
    #sbwrapper {
        max-height: 900px;
    }
}
