body{
    background-color:#2D3032;
    color: #D2D3D3;
    font: normal 16 px arial, helvetica, sans-serif;
    line-height: 1.6em;
    margin 0
}

.container{
    width: 90%;
    float: center;
    margin:auto;
}

.side-bar{
    background-color: #2D283E;
    width: 15%;
    float:left;
    margin: none;
    padding: none;
    border: none;
    position: fixed;       
}

#portrait{
    background-image: url(../images/portrait.jpg);
    background-size: cover;
    background-position: fixed;

}

#pages{
    list-style: none;
    text-align: center;
    text-decoration: none;

}

#charlie{
    background-image: url(../Images/Charlie.jpg);
    background-size: cover;
    background-position: fixed;
}