/* CSS Variables */
:root {
    --primary: #2D3032;
    --accent: #2D283E;
    --regtext: #D2D3D3;
    --htext: #d1d7e0;
}

body {
    background-color: var(--primary);
    margin: 0px;
    padding: 0px;
    border: 0px;
    font-family: Arial, Helvetica, sans-serif;
    color: var(--regtext);
}

/* .main-container { 
    display: grid;
    grid-gap: 20px;
    grid-template-columns: 2fr 10fr;
}*/

/*Global Elements*/
ul {
    list-style-type: none;
    margin: auto;
    padding: 0;
}


h1 {
    color: var(--htext);
    font-size: xx-large;
    margin: 10px 0px 10px 0px;
    font-weight: bolder;
}

h2 {
    margin: 0px;
    padding: 0px;
    font-size: larger;
    color: var(--htext);
    text-transform: uppercase;
    font-weight: bold;
}

h3 {
    font-size: large;
    text-transform: uppercase;
}

h4 {
    color: var(--htext);
    width: 60%;
    float: center;
    margin: 20px auto 10px auto;
}

/*Sidebar Elements*/
.sidebar {
    background: var(--accent);
    width: 300px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    text-align: center;
    position: fixed;
}

#portrait {
    background: url('../img/portrait.png') no-repeat center;
    background-size: contain;
    width: 150px;
    height: 150px;
    margin: 20px auto;
}

#intro {
    width: 70%;
    margin-left: auto;
    margin-right: auto;
}

.socialIcons {
    margin: 10px auto;
    width: 150px;
    height:50px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-content: center;
}

#linkedIn {
    background-size: contain;
    width: 15%;
    height: auto;
    margin: auto
}

#stackOverflow {
    background-size: contain;
    width: 15%;
    height: auto;
    margin: auto
}

#gitHub {
    background-size: contain;
    width: 15%;
    height: auto;
    margin: auto 
}

#nav {
    margin: 20px auto;
}

#nav button {
    text-decoration: none;
    background-color: var(--accent);
    border: 2px var(--accent) solid;
    border-radius: 2px;
    color: var(--regtext);
    font-size: 1rem;
    line-height: 1.4rem;
}

#nav button:hover {
    font-size: 1.2rem;
}

#contactForm {
    /* display: none;*/
}

.fe {
    background-color: var(--accent);
    color: var(--regtext);
    margin: 5px;
    border:2px solid var(--htext);
    border-radius: 5px;
    padding: 5px;
    width: 80%;
}

.textarea {
    resize: none;
    overflow: auto;
    height: 150px;
}

#submit {
    margin: 10px auto 30px auto;
    padding: 5px 10px 5px 10px;
    background-color: var(--accent);
    border:2px solid var(--htext);
    border-radius: 5px;
    color: var(--regtext);
    
}


/*Main Section Elements*/
.wrapper {
    width: 100vw;
    display: grid;
    grid-template-columns: 300px auto;
    grid-gap: 0px; 
      
}

.main {
    grid-column-start: 2;
    width: 85%;
    margin: 50px auto 0px auto;
    display: grid;
    grid-gap: 20px;
    grid-template-areas: 'box-1 box-1 box-2 box-2 box-2''box-3 box-3 box-3 box-3 box-3';

}

.box-1 {
    grid-area: box-1;
}

.box-2 {
    grid-area: box-2;
    min-width: 300px;
}

#charlie {
    height: 300px;
    width: 100%;
    background: url(../img/Charliecrop.jpg) no-repeat center;
    background-size: cover;
    margin: auto;
}

.box-3 {
    grid-area: box-3;
}

.skills {
    grid-column-start: 2;
    width: 85%;
    margin: 50px auto;
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(3, 1fr);
}

.skillbox {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    text-align: center;
    align-content: center;
    background-size: contain;
}

#sb1 {
    background: url(../img/Skills1.png) no-repeat center;
           
}

#sb2 {
    background: url(../img/Skills2.png) no-repeat center;       
}

#sb3 {
    background: url(../img/Skills3.png) no-repeat center;         
}

#sb4 {
    background: url(../img/Skills4.png) no-repeat center;         
}

#sb5 {
    background: url(../img/Skills4.png) no-repeat center;         
}

#sb6 {
    background: url(../img/Skills4.png) no-repeat center;       
}


/*Footer Elements*/
.footer {
    display: flex;
    flex-direction: column;
    justify-self: flex-end;

}

#copyright {
    width: 250;
    height: 50;
    text-align: center;
}

/* Media Queries */
@media()
